.item {
  display: grid;
  grid-gap: 0.5em;
  grid-template-columns: 0.2fr 1fr;
  margin-bottom: 1.5em;
}

.item img {
  grid-column: 1/2;
}

.item > div {
  grid-column: 2/3;
}

.item h4 {
  color: var(--light-coral);
  padding-bottom: 0.7em;
  font-size: var(--fs-body-18);
}

.item p {
  color: var(--white);
  font-size: var(--fs-body-15);
  font-weight: 600;
}

@media screen and (max-width: 1000px) {
  .item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 2em;
  }
}
