.buildManage {
  background-color: var(--green-sacramento);
  padding: 8em;
  position: relative;
  overflow-x: hidden;
  background-image: url(/images/bg-pattern-home-3.svg);
  background-position: bottom 0 right -9%;
  background-repeat: no-repeat;
}

.buildManage > div {
  display: grid;
  grid-gap: 2em;
  align-items: baseline;
  grid-template-columns: 1fr 1fr;
}

.buildManage h3 {
  margin-top: 1em;
  font-size: var(--fs-h2-48);
  line-height: 1;
  color: var(--white);
}

@media screen and (max-width: 1000px) {
  .buildManage {
    padding: 0;
    padding-top: 3em;
    text-align: center;
    background-position: top 0 right -55%;
  }

  .buildManage h3 {
    text-align: left;
    font-size: 2em;
    width: 70%;
  }

  .buildManage > div {
    grid-template-columns: 1fr;
  }
}
