.btn {
  padding: 0.6em 2em !important;
  font-weight: 700;
  border: 2px solid var(--white);
  border-radius: 1.4em;
  transition: all 0.3s ease-in-out;
  text-align: center;
  font-size: 0.828em !important;
}
