.getStarted {
  background-color: var(--light-coral);
  background-image: url(/images/bg-pattern-home-6-about-5.svg);
  background-repeat: no-repeat;
  background-position: bottom left;
  padding: 4em 13em;
}

.getStarted div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.getStarted h3 {
  color: var(--green-dark);
  font-size: var(--fs-h2-48);
}

@media screen and (max-width: 800px) {
  .getStarted {
    padding: 4em 1.5em;
    text-align: center;
    background-position: bottom -35% left 0;
  }

  .getStarted > div {
    flex-direction: column;
    gap: 1em;
  }

  .getStarted h3 {
    font-size: 2em;
  }
}
