/* ====================== */

.nav {
  --max-width: 66em;
  --container-padding: 1rem;

  width: min(var(--max-width), 100% - (var(--container-padding) * 2));
  margin-inline: auto;

  background-color: transparent;
  padding: 3.5em 0;
}

.normalUl {
  width: 100%;
  list-style: none;

  display: grid;
  grid-template-columns: 2fr 4fr 1fr 0;
  grid-gap: 4em;
  justify-content: space-between;
  align-items: center;
}

.nav ul div:nth-child(2) {
  display: flex;
}

.nav li {
  height: 50px;
}

.nav ul li:first-child {
  margin-right: 0;
}

.nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: var(--white);
  font-weight: 700;
  cursor: pointer;
}

.nav ul:nth-child(2) div:nth-child(3) li a {
  height: 80%;
}

.nav li:first-child a {
  padding-left: 0;
}

.nav a:hover {
  color: var(--light-coral);
}

.nav li:first-child {
  margin-right: auto;
}

.nav li:last-child a {
  padding-inline: 18%;
}

.sidebar {
  padding-top: 1em;
  padding-inline: 1em;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  box-shadow: -10 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  background-color: #2c6269;
  backdrop-filter: blur(10px);
}

.sidebar li:nth-child(2) {
  display: none;
}

.sidebar a:nth-child(3) {
  display: none;
}
.sidebar a {
  width: 100%;
}

.sidebar li {
  width: 70%;
}

.menuButton {
  display: none;
}

@media screen and (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }

  .menuButton {
    display: block;
  }

  .nav {
    padding-top: 1.3em;
    padding-bottom: 4em;
    padding-inline: 0;
    margin-inline: 0;
  }

  .normalUl {
    display: flex;
    gap: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar {
    width: 70%;
  }
}

/* CSS Modules feature */
.nav a:global(.active) {
  color: var(--light-coral);
}

a.ctaLink:link,
a.ctaLink:visited {
  background-color: var(--light-coral);
  color: var(--white);
}
