@import url("https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap");

/* Css variables */
:root {
  /* Colors */
  --green-midnight: #014d56;
  --green-jungle: #004047;
  --green-sacramento: #012d32;
  --green-dark: #002529;

  --blue-rapture: #79c8c7;
  --blue-police: #2c6168;

  --white: #ffffff;

  --light-coral: #f67e7e;

  /* Texts*/
  --font-family: "Livvic", sans-serif;
  --fs-h1-100: 5.5rem;
  --fs-h1-64: 4rem;
  --fs-h2-48: 3rem;
  --fs-h3-18: 1.125rem;
  --fs-body-18: 1.125rem;
  --fs-body-15: 0.9375rem;

  /* Font weights */
  --fw-h1-100: 700;
  --fw-h1-64: 700;
  --fw-h2-48: 700;
  --fw-h3-18: 700;
  --fw-body-18: 600;
  --fw-body-15: 600;
}

/* Basic reset */
*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  background-color: var(--green-midnight);
}

.hero {
  background-color: var(--green-midnight);
  height: 100vh;
}
